.logo-content
{
	width: 60%;
	display: flex;
	direction: row;
	display: flex;
	align-items: center;
	gap: 10%;
}

.navigation-content
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20%;
}

.navigation-content > a
{
	width: 20%;
	max-height: 10%;
	height: auto;
	text-align: center;
}

.half-life-icon
{
	width: 80%;
	height: 80%;
	mix-blend-mode: screen;
}

.valve-logo
{
	width : 40%;
	height: 40%;
}

.category-content
{
	background-color: rgba(90,90,90, 0.6);	
	border-style: solid;
	border-color: rgba(128, 128, 128, 0.6);
	border-width: 6px;
	border-radius: 5px;
	margin: 5% 3% 5% 3%;
	padding: 0 1% 0 1%;
	height: 60%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 15%;
}

.content
{
	background-color: rgba(90,90,90, 0.6);	
	
	border-style: solid;
	border-color: rgba(128, 128, 128, 0.6);
	border-width: 6px;
	border-radius: 5px;
	
	margin: 5% 3% 5% 3%;
	padding: 0 1% 0 1%;
	
	color: rgb(228, 193, 131);	
}

.category-content > img
{
	padding: 2% 0 2% 0;
	width: 50%;
	height: 50%;
}

.valve-corporation-content > img
{
	width: 50%;
	height: 50%;
}



.category-content-information
{
	text-align: center;
}

.profile, .valve-corporation-content
{
	display: flex;
	justify-content: space-around;
}

.experience-info
{
	display: flex;
	flex-direction: column;
}